//Colors
$bg-gray: rgb(241, 241, 241);
$pink: rgb(255, 66, 66);
$pink-30: rgba(255, 66, 66, 0.3);

//Wrapper vars
$wrapper-height: 640px;
$wrapper-width: $wrapper-height * 1.5;

$small-play-radius: 60px;
